
Agenda.lnk
Agenda.txt
birthday.txt
config.txt
output/
desktop.ini
File.bat
Todoist.bat
.venv/
.vscode/
Whatsapp.lnk
Outlook.lnk
Gmail.lnk
Todoist.lnk
/Agenda.bat
.idea/Agenda.iml
.idea/inspectionProfiles/Custom_IDE.xml
.idea/inspectionProfiles/profiles_settings.xml
